.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  border-radius: 3px;
  cursor: pointer;
}

.sideNavbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .sideNavbar {
    display: block;
  }

  .toggleMenu {
    border: 0;
    outline: 0;
    background: none;
    padding: 1rem 0.5rem;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    height: 2px;
    width: 30px;
    background: white;
    transition: transform 350ms ease-in-out, opacity 200ms linear;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    right: 0;
  }

  .hamburger::before {
    bottom: 6px;
  }

  .hamburger::after {
    top: 6px;
  }

  .openMenu .hamburger {
    transform: rotate(45deg);
  }

  .openMenu .hamburger::before {
    opacity: 0;
  }

  .openMenu .hamburger::after {
    transform: rotate(-90deg) translate(6px);
  }
}
