.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  border-radius: 3px;
  cursor: pointer;
}

.sideNavbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .link {
    display: none;
  }

  .sideNavbar {
    display: inline;
  }

  .toggleMenu {
    border: 0;
    outline: 0;
    background: none;
    padding: 1rem 0.5rem;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .darkHamburger,
  .darkHamburger::before,
  .darkHamburger::after {
    background: #ffffff;
  }

  .lightHamburger,
  .lightHamburger::before,
  .lightHamburger::after {
    background: #111;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    height: 2px;
    width: 30px;
    transition: transform 350ms ease-in-out, opacity 200ms linear;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    right: 0;
  }

  .hamburger::before {
    bottom: 6px;
  }

  .hamburger::after {
    top: 6px;
  }

  .openMenu .hamburger {
    transform: rotate(45deg);
  }

  .openMenu .hamburger::before {
    opacity: 0;
  }

  .openMenu .hamburger::after {
    transform: rotate(-90deg) translate(6px);
  }

  /* sidebar design */
  .sideBar {
    width: 100vw;
    height: calc(100vh - 100px);
    position: absolute;
    top: 10%;
    left: 0;
    background-color: #53c28b;
    color: #111;
    padding: 1rem 0 0;
    transform: translateX(-100%);
    transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
    z-index: 9;
  }

  .sideBarLinks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .linkMini {
    padding: 1rem 0;
    background-color: #111;
    color: #ffffff;
    width: 100%;
    text-align: center;
  }

  .logoutMini {
    width: 100%;
    padding: 1rem 0;
    border: none;
    background-color: #53c28b;
    border-radius: 3px;
    font-size: inherit;
    cursor: pointer;
  }

  .navOpen {
    transform: translateX(0%);
  }
}
