.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.img {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.desc {
  font-size: 18px;
  color: #999;
}
