.mainLoadingContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.loadingContainer {
  display: flex;
  align-items: center;
  gap: 50px;
  animation: pulse 1s infinite;
}

.loadingImgContainer {
  width: 350px;
  height: 200px;
  background-color: #9999994f;
  border-radius: 5px;
}

.loadingContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loadingTitle {
  height: 20px;
  width: 600px;
  background-color: #9999994f;
  border-radius: 8px;
}

.loadingDesc {
  height: 40px;
  width: 600px;
  background-color: #9999994f;
  border-radius: 8px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
